@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.font {
  font-family: 'Lato', sans-serif;
}

/* colors */

/* #272a31; dark grey
#ec5242;    orange
#d3d3d3; light grey */

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-d-column {
  display: flex;
  flex-direction: column;
}

.disapear {
  display: none;
}

/* Header section */
header {
  background-color: #272a31;
  padding: 0 2rem;
  height: 4.5rem;
  position: fixed;
  width: 100%;
  z-index: 3;
  filter: drop-shadow(0 10px 4px #d3d3d3);
}

.logo {
  transition: all 1s ease-in-out;
  border-top: 2px solid transparent;
  margin: auto;
}

.logoImg {
  height: 3em;
}

.logo:hover {
  scale: 1.2;
}

.bar {
  display: block;
  width: 30px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.hamburger {
  width: 30px;
}

.hamburger:hover {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.navbar {
  width: 100%;
  justify-content: center;
  flex-direction: row-reverse;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: #3e3c3c;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  z-index: 100;
}

.nav-menu.active {
  left: 0;
  background-color: #272a31;
  height: 100%;
  display: flex;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  align-items: start;
}

div ul li {
  list-style: none;
}

nav ul li {
  list-style: none;
}

.nav-menu.active .touch {
  display: none;
}

.nav-menu.active li > a {
  color: #fff5e1;
  font-family: "Inter", sans-serif;
  margin: 16px 0;
}

.nav-item {
  margin: 16px 0;
  padding: 0 16px;
}

.underline {
  width: 100%;
}

/* intro page */

.intropage {
  background-color: #fff;
  margin: auto;
  padding: 4em 1.5em;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  background-position: 100% 100%;
}

.intro {
  background-color: rgba(255, 255, 255, 0.742);
  height: fit-content;
  justify-content: flex-start;
  padding: 6em 1em;
}

.intro h1 {
  color: orangered;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.37px;
}

.intro h2 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3rem;
  font-style: normal;
  align-items: center;
  letter-spacing: -1.5px;
  padding: 0 0 1.5em 0;
  background-image: url("../img/h2bg.png");
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 20% 100%;
}

.introDesc {
  font-style: normal;
  font-weight: 400;
  color: #272a31;
  font-size: 16px;
  line-height: 24px;
}

.introDate {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #272a31;
  font-style: normal;
  align-items: center;
  letter-spacing: -1.5px;
  padding: 2em 0 0 0;
}

.introVenue {
  font-style: normal;
  font-weight: 600;
  color: #272a31;
  font-size: 14px;
  line-height: 24px;
}

/* main Program section */

.mainProgram {
  background-image: url("../img/blackbg.jpg");
  width: 100%;
  height: fit-content;
}

.maintitle {
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 2em 0 0.5em 0;
}

.line {
  width: 46px;
  height: 4px;
  background: #ec5242;
  margin-bottom: 2em;
}

.allcards {
  flex-wrap: wrap;
}

.card {
  padding: 1em;
  background: #272a31;
  margin: 0.3em 1em;
  width: 345px;
  gap: 1em;
  display: grid;
  grid-template-columns: 50px 100px auto;
  justify-content: flex-start;
}

.card > img {
  width: 3em;
}

.card > h3 {
  color: #ec5242;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  width: 6em;
}

.card > p {
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.proButton {
  padding: 1.5em;
  margin: 3em;
  background-color: #ff4f38;
  color: white;
  font-size: 16px;
  width: 75%;
}

.proButton:hover {
  cursor: pointer;
}

.spTitle {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 2em 0 0.5em 0;
}

.checker {
  background-image: url("../img/checkerboard.png");
  padding: 0.7em 0 0 0.7em;
  background-size: contain;
  width: 4em;
  height: 4em;
  margin-left: 1em;
}

.checker > img {
  height: 6em;
  width: 6em;
}

.spDetail {
  margin-left: 4em;
  margin-top: 2em;
}

.spName {
  font-size: 1.4em;
}

.spDesc {
  color: #ec5242;
}

.spline {
  width: 36px;
  height: 4px;
  background: #d3d3d3;
  margin: 1em 0;
}

.speakers {
  height: fit-content;
}

#allSpeakers {
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 3em;
}

.partner {
  width: 100%;
  height: fit-content;
  background-color: #414246;
}

.pContainer {
  height: fit-content;
  align-items: flex-start;
  padding: 3em;
}

.pTitle {
  color: #fff;
  padding: 1.5em 0 0.5em 0;
}

.allPartners {
  flex-wrap: wrap;
  gap: 1em;
}

.allPartners > img {
  height: 3em;
}

#footerImg {
  height: 5em;
}
.pFooter {
  flex-direction: column;
}

/* tablet version */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 0;
    height: fit-content;
  }

  .logo {
    font-size: 16px;
    width: 6rem;
  }

  .hide {
    display: none;
  }

  .disapear {
    display: block;
    padding: 0 2px;
  }

  .navbar {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 4rem;
    height: 5em;
  }

  .nav-menu {
    flex-direction: row;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: end;
    position: unset;
    background-color: #272a31;
  }

  .nav-menu li a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 3em;
    font-weight: 400;
    padding: 10px 10px;
    transition: all 1s ease-in-out;
    height: 4.5em;
    background-color: transparent;
  }

  .redline:hover {
    color: #ec5242;
  }

  .compaign {
    border: 2px solid #ec5242;
    padding: 10px;
    margin-left: 2em;
  }

  .compaign:hover {
    cursor: pointer;
    background-color: #ec5242;
  }

  .topRow {
    background-color: #ec5242;
    width: 100%;
    height: fit-content;
  }

  .nav-topRow {
    justify-content: flex-end;
    margin-right: 4em;
    height: 2.5em;
    overflow: hidden;
  }

  .nav-topRow li a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 2.5em;
    transition: all 1s ease-in-out;
    align-items: center;
    padding: 1em;
  }

  .nav-topRow li a:hover {
    background-color: #a11101;
  }

  /* intro section */
  .intro {
    padding: 8em 2em;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 44px;
  }

  .intro h2 {
    font-size: 3.2rem;
    line-height: 3.5rem;
    padding-bottom: 0.8em;
  }

  .introDesc {
    font-size: 22px;
    line-height: 36px;
    border: 4px solid #fff;
    width: 92%;
    padding: 1em;
  }

  .introDate {
    font-weight: 900;
    font-size: 38px;
    line-height: 50px;
    padding-top: 1em;
  }

  .introVenue {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
  }

  .allcards {
    align-items: flex-start;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 9em;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 1.5px;
    height: 11em;
  }

  .card > p {
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }

  .seeProgram {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-decoration: underline;
    margin-top: 2em;
    height: 5em;
  }

  .speakerCard {
    width: 25em;
  }

  .pFooter {
    justify-content: flex-start;
    margin-bottom: 1em;
    flex-direction: row;
  }

  footer {
    padding: 5em 5em;
    gap: 1em;
  }
}

/* desktop version */
@media (min-width: 1024px) {
  /* header section */
  header {
    padding: 0;
    height: fit-content;
  }

  .logo {
    font-size: 16px;
    width: 6rem;
  }

  .hide {
    display: none;
  }

  .disapear {
    display: block;
  }

  .navbar {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 4rem;
    height: 5em;
  }

  .nav-menu {
    flex-direction: row;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: end;
    position: unset;
    background-color: #272a31;
  }

  .nav-menu li a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    line-height: 3em;
    font-weight: 400;
    padding: 10px 1em;
    transition: all 1s ease-in-out;
    height: 4.5em;
    background-color: transparent;
  }

  .redline:hover {
    color: #ec5242;
  }

  .compaign {
    border: 2px solid #ec5242;
    padding: 10px;
    margin-left: 2em;
  }

  .compaign:hover {
    cursor: pointer;
    background-color: #ec5242;
  }

  .topRow {
    background-color: #ec5242;
    width: 100%;
    height: fit-content;
  }

  .nav-topRow {
    justify-content: flex-end;
    margin-right: 5em;
    height: 2.5em;
    overflow: hidden;
  }

  .nav-topRow li a {
    text-decoration: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 2.5em;
    transition: all 1s ease-in-out;
    align-items: center;
    padding: 1em;
  }

  .nav-topRow li a:hover {
    background-color: #a11101;
  }

  /* intro section */
  .intro {
    padding: 8em 10em;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 44px;
  }

  .intro h2 {
    font-size: 3.2rem;
    line-height: 3.5rem;
    padding-bottom: 0.8em;
  }

  .introDesc {
    font-size: 22px;
    line-height: 36px;
    border: 4px solid #fff;
    width: 92%;
    padding: 1em;
  }

  .introDate {
    font-weight: 900;
    font-size: 38px;
    line-height: 50px;
    padding-top: 1em;
  }

  .introVenue {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
  }

  .allcards {
    align-items: flex-start;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 10em;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 1.5px;
    height: 11em;
  }

  .card > p {
    color: #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }

  .seeProgram {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    text-decoration: underline;
    margin-top: 2em;
    height: 5em;
  }

  .pFooter {
    justify-content: flex-start;
    margin-bottom: 1em;
    flex-direction: row;
  }

  footer {
    padding: 5em 10em;
    gap: 1em;
  }
}
